<header>
  <div class="logo">SORAVIT RESUME</div>
  <nav>
    <ul>
      <li><a href="#main" (click)="scrollToSection('main')">Home</a></li>
      <li>
        <a href="#Project" (click)="scrollToSection('Project')">Project</a>
      </li>
      <li><a href="#skills" (click)="scrollToSection('skills')">Skills</a></li>
    </ul>
  </nav>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/soravit-seanthawesuk-573386318/"
      ><img src="/LinkedIn_logo.png" alt="LinkedIn"
    /></a>
    <a href="https://github.com/Phupa111"
      ><img src="/github.png" alt="github"
    /></a>
    <a href="https://web.facebook.com/soravit.seanthaweesuk?locale=th_TH"
      ><img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png"
        alt="facebook"
    /></a>
  </div>
</header>
