<main id="main">
  <div class="content">
    <p class="greeting">I'm Looking for job</p>
    <h1>ผมชื่อ สรวิชญ์ แสนทวีสุข</h1>
    <h2>
      มีความสนใจในด้าน Full-stack, Front-end, Back-end
      หากสนใจสามารถดูข้อมูลต่างๆ และติดต่อได้ที่อีเมลด้านล่างนี้เลยครับ
    </h2>
    <p class="description">soravit.swts&#64;gmail.com</p>
  </div>
  <div class="image-container">
    <img
      src="\Hero.jpg"
      class="shsojvp"
      height="500"
      width="500"
      alt="Soravit"
    />
  </div>
</main>
